body{
background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(196,136,208,1) 100%);
background-attachment:fixed;
margin:0;
}

#forms1{
width:400px;
margin:20vh auto 0 auto;
background-color:whitesmoke;
border-radius:5px;
padding:30px;
}

h1{
text-align:center;
color:tomato;
}

#forms1 button{
background-color:black;
color:white;
border:1px solid black;
border-radius:5px;
padding:10px;
margin:20px 0px;
cursor:pointer;
font-size:20px;
width:100%;
}

.input-group{
display:flex;
flex-direction:column;
margin-bottom:15px;
}
.input-group input{
border-radius:5px;
font-size:20px;
margin-top:5px;
padding:10px;
border:1px solid rgb(34,193,195);
}

.input-group input:focus{
outline:0;
}

.input-group .error{
color:red;
font-size:16px;
margin-top:5px;
}

.input-group .success input{
border-color:#0cc477;
}

.input-group .error input{
border-color:rgb(206,67,67);
}